
<div class="dark-theme">
  <md-card>
    <h3 style="margin-bottom: 10px"><md-icon>lightbulb_outline</md-icon> Light</h3>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="Url" [(ngModel)]="light.url">
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input mdInput placeholder="UUID" [(ngModel)]="light.inputUuid">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <button *ngIf="!light.isConnected" type="button" class="btn btn-success" (click)="onConnectClicked()">Connect</button>
          <button *ngIf="light.isConnected" type="button" class="btn btn-danger" (click)="onDisconnectClicked()">Disconnect</button>
        </td>
      </tr>
    </table>
  </md-card>
</div>
