
<div>
  <md-card>
    <h3 style="margin-bottom: 10px"><md-icon>lightbulb_outline</md-icon> Light</h3>
    <table class="full-width" cellspacing="0">
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="Url" [(ngModel)]="light.url">
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input mdInput placeholder="UUID" [(ngModel)]="light.inputUuid">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <md-input-container>
            <input mdInput placeholder="X position" [(ngModel)]="light.left">
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input mdInput placeholder="Y position" [(ngModel)]="light.bottom">
          </md-input-container>
        </td>
      </tr>
      <tr>
        <td>
          <button *ngIf="!light.isConnected" type="button" class="btn btn-success" (click)="onConnectClicked()">Connect</button>
          <button *ngIf="light.isConnected" type="button" class="btn btn-danger" (click)="onDisconnectClicked()">Disconnect</button>
        </td>
        <td>
          <button *ngIf="light.isConnected" type="button" class="btn btn-info" (click)="sendLocation()">Send location</button>
        </td>
      </tr>
    </table>
  </md-card>
</div>
