@import '../../../node_modules/@angular/material/theming';
@include mat-core();

.light-on {
  background: mat-color($mat-amber, A400);
  color: mat-color($mat-light-green, 600);
}

.light-off {
  background: grey;
  color: mat-color($mat-light-green, 600);
}

.light-disconnected {
  background: gray;
  color: mat-color($mat-red, 500);
}

.full-width {
  width: 100%;
}
