<div class="row">
  <div class="col" style="width: 400px; margin: 20px 20px 20px 40px">
    <text-input></text-input>
  </div>
  <div style="margin: 20px 20px 20px 20px; width: 500px; height: 500px">
    <area-zone [lights]= "lights"></area-zone>
  </div>
  <div  style="margin: 20px 20px 20px 20px;" class="col">
    <button md-fab (click)="addLight()" style="color: white; margin-bottom: 10px">
      <md-icon>add</md-icon>
    </button>
    <div  *ngFor="let light of lights"  style="margin-bottom: 20px">
      <light-settings [light] = light></light-settings>
    </div>
  </div>
</div>
