@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-orange, A700);
$app-theme:   mat-light-theme($app-primary, $app-accent);
@include angular-material-theme($app-theme);


$dark-primary: mat-palette($mat-amber, 50, 50, 50);
$dark-accent:  mat-palette($mat-amber, 50, 50, 50);
$dark-warn:    mat-palette($mat-amber);
$dark-theme:   mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

.dark-theme {
  @include angular-material-theme($dark-theme);
}
