@import '../../styles';
@include mat-core();

.anchor {
  position: absolute;
  bottom: 0%;
  left: 0%;
}

.container {
  width: 100%;
  height: 100%;
  padding: 40px 40px 40px 40px;
}

light-output {
  position: relative;
  right: 50%;
  bottom: -1.5em
}
